.search_container {
  width: 60%;
  padding: 4rem 2rem;
  background: #370617;
  color: #eee;
  overflow-y: scroll;
  position: relative;
}

.form {
  position: sticky;
  top: 0;
  background: lime;
  z-index: 10;
}

.search_result_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  color: #000;
}

.searchHero_card {
  width: 15rem;
}

.form-label {
  font-size: 1.2rem;
}
