.team_container {
  height: 100vh;
  width: 40%;
  overflow-y: scroll;
  color: #eee;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  font-weight: 200;
}

.team_container h1 {
  width: 100%;
  text-align: center;
  font-weight: 200;
}

.team_container h2 {
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  font-weight: 200;
}

.team_card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #e85d04;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.team_card > img {
  width: 35%;
  object-fit: contain;
}

.card-boddy {
  padding: 0.5rem 1rem;
  width: 60%;
  font-size: 1.3rem;
  font-weight: 600;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
}

.powerstats {
  list-style: none;
  padding: 0;
}

.team_stats {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: #ddd;
  font-size: 1.4rem;
}

.team_stats li {
  margin-right: 0.3rem;
}
